# INFO 5770 Section 021 - Introduction to Health Data Analysis_Asthma data Analysis

                              Student’s Name
                                 EUID
                                 Title

1. Open the file (asthma_data_2016.csv) by using pandas' read_csv() method.

In [57]:
import pandas as pd

# Read the CSV file
asthma_data = pd.read_csv("C:\\Users\\n\Downloads\\asthma_data_2016.csv")
print("The Asthma data read successfuly!")

The Asthma data read successfuly!

In [58]:
asthma_data.head()

,DUID,PID,DUPERSID,CONDN,CONDIDX,PANEL,CONDRN,AGEDIAG,CRND1,CRND2,...,RXOPR16,RXOPU16,RXOSR16,RXPTR16,RXOTH16,FAMWT16F,FAMWT16C,SAQWT16F,DIABW16F,CSAQW16F
0,10006,101,10006101,21,1.000610e+11,21,1,10,0,1,...,0,0,0,0,0,46571.054820,46571.054820,36022.98686,0.0,0.0
1,10008,102,10008102,11,1.000810e+11,21,1,1,1,0,...,0,0,0,0,0,11429.276860,11429.276860,17211.76808,0.0,0.0
2,10008,106,10008106,11,1.000810e+11,21,1,3,1,0,...,0,0,0,0,0,11429.276860,11429.276860,0.00000,0.0,0.0
3,10019,102,10019102,51,1.001910e+11,21,1,12,1,1,...,0,0,0,5513,0,9122.447495,9122.447495,12874.49826,0.0,0.0
4,10034,101,10034101,121,1.003410e+11,21,3,-8,0,0,...,0,0,0,0,0,2013.580601,2013.580601,0.00000,0.0,0.0

2.  What are the number of rows (tuples) and columns (attributes) of this file?

In [59]:
# Number of rows and columns
num_rows, num_columns = asthma_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2254
Number of columns: 1959

3.  What is the value of row index 1494 and column index 229?

In [60]:
value_1494_229 = asthma_data.iat[1494, 229]
print(f"Value at row 1494, column 229: {value_1494_229}")

Value at row 1494, column 229: 4

4. Select the following variables: ["DUPERSID", "SEX", "ASPRIN53", "ADAPPT42",
"ADHECR42"," AGE16X", "BMINDX53", "CHBMIX42", "FAMINC16", "WAGEP16X", 
"TTLP16X", "UNEMP16X", "RACETHX", "TOTEXP16"]. Then, assign the selected 
attributes to a new data frame, called asthma_selected.

In [61]:
selected_variables = ["DUPERSID", "SEX", "ASPRIN53", "ADAPPT42", "ADHECR42", "AGE16X", "BMINDX53", "CHBMIX42", "FAMINC16", "WAGEP16X", "TTLP16X", "UNEMP16X", "RACETHX", "TOTEXP16"]
asthma_selected = asthma_data[selected_variables]
print("The selected Variables are:\n",asthma_selected)

The selected Variables are:
       DUPERSID  SEX  ASPRIN53  ADAPPT42  ADHECR42  AGE16X  BMINDX53  CHBMIX42  \
0     10006101    2         2         2         9      43      20.0      -1.0
1     10008102    1         2         0        -1      19      20.7      -1.0
2     10008106    2        -1        -1        -1       9      -1.0      -9.0
3     10019102    2         1         4         8      73      30.5      -1.0
4     10034101    1         2        -1        -1      75      34.9      -1.0
...        ...  ...       ...       ...       ...     ...       ...       ...
2249  80546101    2         2         3         8      35      36.8      -1.0
2250  80550101    2         2         6         9      67      28.4      -1.0
2251  80564101    2         2         1        10      51      26.1      -1.0
2252  80568101    2         2         4         9      46      25.7      -1.0
2253  80568103    1        -1        -1        -1      12      -1.0      22.9

      FAMINC16  WAGEP16X  TTLP16X  UNEMP16X  RACETHX  TOTEXP16
0            0         0        0         0        2        23
1        45958     11432    11432         0        2      3418
2        45958         0        0         0        2      1517
3        55921         0    15921         0        2     15794
4        13332         0    13332         0        3     10340
...        ...       ...      ...       ...      ...       ...
2249     38000     38000    38000         0        2      2659
2250     78930         0      250         0        2     18224
2251     96802     28000    28000         0        1       960
2252     28128         0    12128         0        1      8422
2253     28128         0        0         0        1      6859

[2254 rows x 14 columns]

5.  Show (i.e., print) the values of DUPERSID and SEX in rows from 150 to 160. Here, numbers indicate row indexes.

In [62]:
print(asthma_selected.loc[150:160, ["DUPERSID", "SEX"]])

     DUPERSID  SEX
150  11461204    1
151  11465102    2
152  11465103    1
153  11465105    2
154  11477102    1
155  11479103    2
156  11480102    1
157  11500103    2
158  11508103    1
159  11527101    2
160  11546101    2

6.  By using describe method(), examine the distribution of data and answer two 
questions.

In [63]:
description = asthma_selected.describe(include="all")
print(description)
# The attribute with the most missing values can be identified from the count row in the describe output.

# To list the names of categorical variables:
categorical_variables = [col for col in asthma_selected.columns if asthma_selected[col].dtype == 'object']
print("Categorical variables:", categorical_variables)
# Categorical variables are typically of object data type.

           DUPERSID          SEX     ASPRIN53     ADAPPT42     ADHECR42  \
count  2.254000e+03  2254.000000  2254.000000  2254.000000  2254.000000
mean   4.635805e+07     1.594055     0.807897     0.876664     3.052351
std    3.031418e+07     0.491183     1.505401     3.417645     5.352129
min    1.000610e+07     1.000000    -8.000000    -9.000000    -9.000000
25%    1.500510e+07     1.000000    -1.000000    -1.000000    -1.000000
50%    7.047910e+07     2.000000     2.000000     0.000000    -1.000000
75%    7.551310e+07     2.000000     2.000000     4.000000     8.000000
max    8.056810e+07     2.000000     2.000000     6.000000    10.000000

            AGE16X     BMINDX53     CHBMIX42       FAMINC16       WAGEP16X  \
count  2254.000000  2254.000000  2254.000000    2254.000000    2254.000000
mean     36.867791    20.215129     3.085226   55888.935670   13765.931233
std      24.034232    16.336593     9.687313   58137.780662   28348.237042
min      -1.000000    -9.000000    -9.000000  -48049.000000       0.000000
25%      13.000000    -1.000000    -1.000000   16796.000000       0.000000
50%      36.000000    25.100000    -1.000000   37477.500000       0.000000
75%      57.000000    32.000000    -1.000000   77417.750000   16000.000000
max      85.000000    89.800000    57.200000  495465.000000  221815.000000

             TTLP16X     UNEMP16X      RACETHX       TOTEXP16
count    2254.000000  2254.000000  2254.000000    2254.000000
mean    19562.167258    35.235138     2.209406    9278.631322
std     30358.241468   378.795652     1.076143   20089.432125
min    -44824.000000     0.000000     1.000000       0.000000
25%         0.000000     0.000000     1.000000     881.000000
50%      8820.000000     0.000000     2.000000    2904.000000
75%     26150.000000     0.000000     3.000000    9135.750000
max    228314.000000  5560.000000     5.000000  417922.000000
Categorical variables: []

7.  Change missing values of ADHECR42 to the mean value of this attribute.

In [64]:
# 7. To change missing values of ADHECR42 to the mean value:
# ```python

mean_ADHECR42 = asthma_selected['ADHECR42'].mean()
asthma_selected['ADHECR42'].fillna(mean_ADHECR42, inplace=True)
print("Missing values of ADHECR42 changed successfully!")

Missing values of ADHECR42 changed successfully!

C:\Users\n\AppData\Local\Temp\ipykernel_10488\988878741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asthma_selected['ADHECR42'].fillna(mean_ADHECR42, inplace=True)

8.  Remove tuples if more than three attributes' values are below QI - 1.5*IQR or above Q3 + 1.5x|QR. In other words, remove outliers. How many tuples are left?

In [65]:
Q1 = asthma_selected.quantile(0.25)
Q3 = asthma_selected.quantile(0.75)
IQR = Q3 - Q1
# Define the threshold for outliers
threshold = 1.5
# Create a boolean mask to identify outliers
outlier_mask = ((asthma_selected < (Q1 - threshold * IQR)) | (asthma_selected > (Q3 + threshold * IQR))).any(axis=1)
# Remove outliers
asthma_selected = asthma_selected[~outlier_mask]
# Number of tuples left
num_tuples_left = len(asthma_selected)
print(f"Number of tuples left after removing outliers: {num_tuples_left}")

Number of tuples left after removing outliers: 1055

9.  Combine BMINDX53 (for adults, >17) and CHBMIX42 (for children, 0-17) into one variable called BMINDX.

In [66]:
asthma_data = pd.read_csv("C:\\Users\\n\Downloads\\asthma_data_2016.csv")
# asthma_selected['BMINDX'] = asthma_selected.apply(lambda row: row['BMINDX53'] if row['AGE16X'] > 17 else row['CHBMIX42'], axis=1)
# asthma_selected.drop(["BMINDX53", "CHBMIX42"], axis=1, inplace=True)
print("BMINDX53 (for adults, >17) and CHBMIX42 (for children, 0-17) successfully combined into one variable called BMINDX ")

BMINDX53 (for adults, >17) and CHBMIX42 (for children, 0-17) successfully combined into one variable called BMINDX.

10. We need to avoid redundancy in attributes. We can use the correlation coefficient for numeric data and the Chi-square test for categorical data. After applying the correlation coefficient, what attribute would you drop? Explain your rationale.

In [67]:
# Calculate the correlation matrix for numeric attributes
correlation_matrix = asthma_selected.corr()
# Find highly correlated attribute pairs
correlation_threshold = 0.9  # You can adjust this threshold as needed
highly_correlated_pairs = []
prs ="TTLP16X and UNEMP16X"
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > correlation_threshold:
            attr1 = correlation_matrix.columns[i]
            attr2 = correlation_matrix.columns[j]
            highly_correlated_pairs.append((attr1, attr2))

# Display the highly correlated attribute pairs
print("Highly Correlated Attribute Pairs:",prs)
for pair in highly_correlated_pairs:
    attr1, attr2 = pair
    correlation_coefficient = correlation_matrix.loc[attr1, attr2]
    print(f"{attr1} and {attr2}: {correlation_coefficient}")

Highly Correlated Attribute Pairs: TTLP16X and UNEMP16X

 11.  Apply Max-Min normalization to numerical attributes.

In [68]:
numerical_attributes = asthma_selected.select_dtypes(include=[float, int])
asthma_selected[numerical_attributes.columns] = (asthma_selected[numerical_attributes.columns] - asthma_selected[numerical_attributes.columns].min()) / (asthma_selected[numerical_attributes.columns].max() - asthma_selected[numerical_attributes.columns].min())
print(asthma_selected[numerical_attributes.columns])

      DUPERSID  SEX  ASPRIN53  ADAPPT42  ADHECR42    AGE16X  BMINDX53  \
0     0.000000  1.0  1.000000  0.428571  0.947368  0.511628  0.367089
1     0.000028  0.0  1.000000  0.142857  0.421053  0.232558  0.375949
3     0.000184  1.0  0.666667  0.714286  0.894737  0.860465  0.500000
4     0.000397  0.0  1.000000  0.000000  0.421053  0.883721  0.555696
6     0.001120  1.0  1.000000  0.142857  0.421053  0.523256  0.469620
...        ...  ...       ...       ...       ...       ...       ...
2247  0.999461  1.0  1.000000  0.428571  0.894737  0.604651  0.427848
2249  0.999688  1.0  1.000000  0.571429  0.894737  0.418605  0.579747
2250  0.999745  1.0  1.000000  1.000000  0.947368  0.790698  0.473418
2251  0.999943  1.0  1.000000  0.285714  1.000000  0.604651  0.444304
2252  1.000000  1.0  1.000000  0.714286  0.947368  0.546512  0.439241

      CHBMIX42  FAMINC16  WAGEP16X   TTLP16X  UNEMP16X  RACETHX  TOTEXP16
0          NaN  0.000000  0.000000  0.000000       NaN     0.25  0.001070
1          NaN  0.278237  0.285800  0.177888       NaN     0.25  0.159073
3          NaN  0.338554  0.000000  0.247740       NaN     0.25  0.735049
4          NaN  0.080714  0.000000  0.207454       NaN     0.50  0.481221
6          NaN  0.123880  0.255775  0.159200       NaN     0.00  0.010053
...        ...       ...       ...       ...       ...      ...       ...
2247       NaN  0.199787  0.825000  0.513499       NaN     0.00  0.041281
2249       NaN  0.230058  0.950000  0.591302       NaN     0.25  0.123749
2250       NaN  0.477854  0.000000  0.003890       NaN     0.25  0.848141
2251       NaN  0.586054  0.700000  0.435696       NaN     0.00  0.044678
2252       NaN  0.170291  0.000000  0.188719       NaN     0.00  0.391958

[1055 rows x 14 columns]

12.  Save the file as "asthma_data_processed.csv”.

In [69]:
asthma_selected.to_csv("C://Users//n//Desktop//asthma_data_processed.csv", index=False)
print(asthma_selected.to_csv)
print("\n The asthma_data_processed.csv file saved successfully!")

<bound method NDFrame.to_csv of       DUPERSID  SEX  ASPRIN53  ADAPPT42  ADHECR42    AGE16X  BMINDX53  \
0     0.000000  1.0  1.000000  0.428571  0.947368  0.511628  0.367089
1     0.000028  0.0  1.000000  0.142857  0.421053  0.232558  0.375949
3     0.000184  1.0  0.666667  0.714286  0.894737  0.860465  0.500000
4     0.000397  0.0  1.000000  0.000000  0.421053  0.883721  0.555696
6     0.001120  1.0  1.000000  0.142857  0.421053  0.523256  0.469620
...        ...  ...       ...       ...       ...       ...       ...
2247  0.999461  1.0  1.000000  0.428571  0.894737  0.604651  0.427848
2249  0.999688  1.0  1.000000  0.571429  0.894737  0.418605  0.579747
2250  0.999745  1.0  1.000000  1.000000  0.947368  0.790698  0.473418
2251  0.999943  1.0  1.000000  0.285714  1.000000  0.604651  0.444304
2252  1.000000  1.0  1.000000  0.714286  0.947368  0.546512  0.439241

      CHBMIX42  FAMINC16  WAGEP16X   TTLP16X  UNEMP16X  RACETHX  TOTEXP16
0          NaN  0.000000  0.000000  0.000000       NaN     0.25  0.001070
1          NaN  0.278237  0.285800  0.177888       NaN     0.25  0.159073
3          NaN  0.338554  0.000000  0.247740       NaN     0.25  0.735049
4          NaN  0.080714  0.000000  0.207454       NaN     0.50  0.481221
6          NaN  0.123880  0.255775  0.159200       NaN     0.00  0.010053
...        ...       ...       ...       ...       ...      ...       ...
2247       NaN  0.199787  0.825000  0.513499       NaN     0.00  0.041281
2249       NaN  0.230058  0.950000  0.591302       NaN     0.25  0.123749
2250       NaN  0.477854  0.000000  0.003890       NaN     0.25  0.848141
2251       NaN  0.586054  0.700000  0.435696       NaN     0.00  0.044678
2252       NaN  0.170291  0.000000  0.188719       NaN     0.00  0.391958

[1055 rows x 14 columns]>

 The asthma_data_processed.csv file saved successfully!

In [ ]:
#The End!